body {
  background: #fdfdfd;
}
card: {
  width: 100%;
}
.invalid-feedback {
  display: block;
}
.valid-feedback {
  display: block;
}
.card-img--height {
  max-height: 161.84px;
  object-fit: cover;
}
.card-img--favourite {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  cursor: pointer;
}
.card-img--favourite.not_allowed{
  cursor: not-allowed;
}
.avatar{
    cursor: pointer;
}
.btn--exit{
    margin: 0 5px;
}
.alert--fixed {
  position: fixed;
  top: 5px;
  z-index: 1;
  right: calc(50vw - 150px);
  width: 300px;
  text-align: center;
}