.second_layer {
  background-image: radial-gradient(
    circle at 20% 50%,
    rgba(11.76%, 15.29%, 17.25%, 0.98) 0%,
    rgba(11.76%, 15.29%, 17.25%, 0.88) 100%
  );
  padding: 50px 0;
  box-sizing: border-box;
}

.shadow{
  box-shadow: 0 0 1px 0 #f5f5f5;
}

.film-year{
  line-height: 35px;
  font-size: 20px;
  font-weight: bold;
}